 /* p{
    color: rgb(250,50,100);
    color: #000;
    text-align: end;
    line-height: 2;/* line heigt ki madad se hum line me space de skte hai

 } 
 /* h1{
   text-align: center ;
   letter-spacing: 5px;
   text-decoration:   red wavy underline;
 }
h3{
   text-align: start;
   text-decoration:overline;
}
h2{
   font-weight: 900;
   text-decoration: line-through; */
   /* font weight 0 se lekar 900 tak rk skte hai  
}
/* font family ka use krke hum font ka tyoe bhi change kr skte hai  */

/* ............................box shadow.................... */
/* 
div {
   width: 200px;
   height: 50px;
   text-align: center;
   background-color: #7aaa7a;
   margin: 10px auto;
   box-shadow: 2px 2px 8px black;
} */

/* ...............................background image..................... */

.div {
   width: 400px;
   height: 200px;
   text-align: center;
   background-color: #7aaa7a;
   margin: 10px auto;
   background-image: url("ironman.JPEG");
   background-size: cover;

   
}
