/* #mainimage{
   height: 200px;
   width: 200px;
}
.green{
   color: green;
   text-decoration:  underline black wavy;
} */
/* body{
   text-align: center;
};
div{
   height: 100px;
   width: 100px;
   border:  2px, solid black;
} */
