<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> this is the home page</h1>
    <h3> <%=  1+2%></h3>
    <h3> <%=  ["ayush","rishi","jay"][1]%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, veniam. Id soluta, hic distinctio error placeat odit odio quas assumenda pariatur quaerat deserunt fugit delectus, ex earum maiores libero facilis.</p>
    <button>click me </button>
</body>
</html>