<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="/animal.css">
</head>
<body>
    
    <h1> Welcome to the  page </h1>
    <h2>Search  the topic you interested </h2>
    <%for (animal of animal.animals){%>
 
<img src="<%=animal.image  %>" alt="Animal image">
<button><a href="http://localhost:8000/search/<%=animal.name%>">full details</a></button>
  <%}%>
</body>
</html>