<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1> Here is full details </h1>
    <hr>
      <div >
            <h3 id="username"><%= post.username  %></h3>
            <h4 id="content"><%= post.content %></h4>
            <button><a href="http://localhost:8000/posts">Go back </a></button>
            <br><br>

        </div>
    
</body>
</html>